<p id="notice"><%= notice %></p>

<p>
  <strong>A:</strong>
  <%= @relationship.a %>
</p>

<p>
  <strong>B:</strong>
  <%= @relationship.b %>
</p>

<p>
  <strong>Score:</strong>
  <%= @relationship.score %>
</p>

<%= link_to 'Edit', edit_relationship_path(@relationship) %> |
<%= link_to 'Back', relationships_path %>
