<p id="notice"><%= notice %></p>

<h1>News</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Url</th>
      <th>Summary</th>
      <th>Body</th>
      <th>Keyword</th>
      <th>Trend</th>
      <th>Time</th>
      <th>Author</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @news.each do |news| %>
      <tr>
        <td><%= news.title %></td>
        <td><%= news.url %></td>
        <td><%= news.summary %></td>
        <td><%= news.body %></td>
        <td><%= news.keyword %></td>
        <td><%= news.trend %></td>
        <td><%= news.time %></td>
        <td><%= news.author %></td>
        <td><%= link_to 'Show', news %></td>
        <td><%= link_to 'Edit', edit_news_path(news) %></td>
        <td><%= link_to 'Destroy', news, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New News', new_news_path %>
