<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @news.title %>
</p>

<p>
  <strong>Url:</strong>
  <%= @news.url %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @news.summary %>
</p>

<p>
  <strong>Body:</strong>
  <%= @news.body %>
</p>

<p>
  <strong>Keyword:</strong>
  <%= @news.keyword %>
</p>

<p>
  <strong>Trend:</strong>
  <%= @news.trend %>
</p>

<p>
  <strong>Time:</strong>
  <%= @news.time %>
</p>

<p>
  <strong>Author:</strong>
  <%= @news.author %>
</p>

<%= link_to 'Edit', edit_news_path(@news) %> |
<%= link_to 'Back', news_index_path %>
